<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/post" method="post">
        <label for="username">Username:</label><br>
        <input type="text" placeholder="nguyencanhtoan@gmail.com,..." name="username"><br>
        <label for="password">Password:</label><br>
        <input type="text" placeholder="123456,..." name="password"><br>
        <button type="submit">Gửi</button>
    </form>
    <form action="/delete" method="post">
        <%- include("./UserList.ejs") %>
    </form>
</body>
</html>