<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
        Kết nối nodejs với mysql
        1. folder structure: client: code phần frontend
        server: viết logic backend
        - npm init -y
        - npm i express nodemon body-parser mysql2
        connection: chứa các config của database
        router: định ra các tuyến đường
        controller: gửi request nhận về data trả về cho client
        service: nơi tương tác với database
        .env: cài đặt các biến môi trường
        2. mysql bây giờ dùng thư viên mysql2
     -->
</body>
</html>