<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
        Cơ sở dữ liệu:
        Là nơi để chứa dữ liệu (thường lưu ngày xưa):
        - localstorage, session, cookie
        - file json
        - excel
        - txt
        - Việc lưu dữ liệu trong các file này thường khi lấy dữ liệu ra phải duyệt qua từng phần tử (tốc độ truy cập 10 lần)
        Bây giờ:
        - mysql
        - sql server
        - firebase (firestore)
        - mongodb
        - mariadb
        - postgre
        - sql lite
        - Bản chất khi lưu trữ dữ liệu thì nó sẽ tạo ra các cây thư mục (ví dụ các sản phẩm có cùng loại, sắp xếp các phần tử theo giá tăng dần, 
        giảm dần,...vv). Nên khi người dùng tương tác cơ sở dữ liệu ví dụ muốn lấy các sản phẩm có cùng category thì nó sẽ trỏ đến cây mà chứa 
        các sản phẩm đã sắp xếp rồi cho nên tốc độ truy cập nhanh hơn gấp 1 tỉ lần.
        Chia thành 2 dạng:
        - Sql: Structure query language (ngôn ngữ truy vấn có cấu trúc): 
            + mysql, sql server, mariadb,...
            + quan hệ, ràng buộc
        - No Sql: Ngôn ngữ truy vấn không có cấu trúc:
            + mongodb, firebase
            + Không có quan hệ, không có ràng buộc
        Hệ quản trị cơ sở dữ liệu (DBMS): database manager system (hệ thống quản lý dữ liệu): Là công cụ để tương tác với cơ sở dữ liệu
        Cài đặt: Có 2 cách cài đặt:
        1. Cài trực tiếp vào máy:
        - Nó hay bị xung đột với các phần mềm trong máy tính
        - Tháo gỡ mất thời gian
        2. Cài gián tiếp thông qua wamp: 
        Cài đặt vào 1 thùng chứa sau đó xuất mysql ở trong thùng chứa này ra dùng, khi nào muốn xóa không dùng thì xóa thùng chứa là xong
        - Cài đặt laragon
        - Bước 2: cài đặt php myadmin
     -->
</body>
</html>